<ul class="post__social">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank"><i class="fa fa-facebook" style="font-size: 1.5em;"></i></a></li>
  <li><a href="https://twitter.com/intent/tweet?text={{ page.title | remove: "#" }} par @audionomie&url={{ page.url | absolute_url }}" target="_blank"><i class="fa fa-twitter" style="font-size: 1.5em;"></i></a></li>
  <li><a href="https://www.reddit.com/submit?url={{ page.url | absolute_url }}" target="_blank"><i class="fa fa-reddit-alien" style="font-size: 1.5em;"></i></a></li>
  <li><a href="https://plus.google.com/share?url={{ page.url | absolute_url }}" target="_blank"><i class="fa fa-google-plus" style="font-size: 1.5em;"></i></a></li>
</ul>
