---
layout: default
---
<section class="mast section-padding">
  <div class="grid">
    <h3>
      Le podcast est disponible sur <a href="https://podcasts.apple.com/ch/podcast/audionomie/id1510209430">iTunes</a>, <a href="https://open.spotify.com/show/3OMA3mvk2kadHbLkWJJSPJ">Spotify</a>, <a href="https://www.deezer.com/fr/show/1146222">Deezer</a> et les applications libres type <a href="https://antennapod.org/">AntennaPod</a>. Vous pouvez aussi écouter les épisodes directement ci-dessous.
    </h3>
  </div>
</section>

<div class="section-padding--none">
  <div class="grid-large">
    <hr class="sep"/>
  </div>
</div>

<!-- The main content area -->
<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in paginator.posts %}

      <!-- The tag below includes the markup for each post - partials/post-card.html -->
      {% include post-card.html %}

      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}
</div>
